In [1]:
def square(num):
    return num**2

In [3]:
my_nums= [1,2,3,4,5]

In [5]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [6]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [9]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'even'
    else:
        return mystring[0]

In [11]:
names = ['andy','eve','sally']
list(map(splicer,names))

['even', 'e', 's']

In [12]:
def check_even(num):
    return num%2==0

In [30]:
mynums = [1,2,3,4,5]

In [31]:
for n in filter(check_even,mynums):
    print(n)

2
4

In [32]:
list(filter(check_even,mynums))

[2, 4]

In [33]:
square = lambda num: num**2

In [34]:
square(3)

9

In [35]:
list(map(lambda num : num**2,mynums))

[1, 4, 9, 16, 25]

In [36]:
list(filter(lambda num: num%2==0,mynums))

[2, 4]

In [37]:
names

['andy', 'eve', 'sally']

In [40]:
list(map(lambda nam:nam[0],names))

['a', 'e', 's']

In [42]:
list(map(lambda nam:nam[::-1],names))

['ydna', 'eve', 'yllas']