In [1]:
mystring  = 'hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist1 = [letter for letter in mystring]

In [7]:
mylist1

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [x for x in 'wordtwo']

In [11]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [14]:
mylist = [num**2 for num in range(0,11)]

In [15]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [19]:
mylist

[0, 4, 16, 36, 64, 100]

In [20]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [21]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [22]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [23]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [27]:
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [28]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [29]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000] ]

In [30]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]