range function

In [1]:
mylist = [1,2,3]

In [3]:
for num in range(10,15):
    print(num)

10
11
12
13
14

In [4]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [6]:
range(0,10,2)

range(0, 10, 2)

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

range is generator function used to generate instead of storing in memory/



### enumerate

In [11]:
indexcount = 0
for letter in "abcde":
    print(f'at index {indexcount} the letter is {letter}')
    indexcount += 1

at index 0 the letter is a
at index 0 the letter is b
at index 0 the letter is c
at index 0 the letter is d
at index 0 the letter is e

In [15]:
word = 'abcde'
for index,letter in enumerate(word) :
    print (index,letter)

0 a
1 b
2 c
3 d
4 e

### zip function opposite of enum

In [25]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [26]:
for item in zip(mylist1,mylist2,mylist3):
    print (item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [27]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

### in operator

In [28]:
'x' in [1,2,3]

False

In [29]:
'x' in ['x','y','z']

True

In [30]:
'a' in ' a world'

True

In [31]:
'mykey' in {'mykey' : 132}

True

In [32]:
d = {'mykey':354}

In [33]:
354 in d.values()

True

In [34]:
354 in d.keys()

False

### min and max

In [35]:
mylist = [2,3,4,43,53,1]

In [36]:
min (mylist)

1

In [37]:
max(mylist)

53

## random libary

### suffle

In [38]:
from random import shuffle

In [39]:
mylist = [1,2,3,4,5,6,7,8,9]

In [40]:
shuffle(mylist)

In [41]:
mylist

[4, 8, 3, 6, 1, 5, 9, 2, 7]

In [42]:
shuffle(mylist)

In [43]:
mylist

[7, 6, 9, 4, 1, 8, 2, 3, 5]

### randint

In [44]:
from random import randint

In [61]:
randint(0,10)

10

In [62]:
mynum = randint(2,45)

In [63]:
mynum

37

### input function

In [68]:
result = input('enter your name here:  ')

enter your name here:  akshit

In [69]:
result

'akshit'

In [70]:
result = input('fav number : ')

fav number : 30

In [71]:
result

'30'

In [72]:
type (result)

str

In [73]:
float(result)

30.0

In [74]:
int(result)

30

In [75]:
result

'30'

In [76]:
result = int(input("enter a number : "))

enter a number : 89

In [78]:
print(result)
type(result)

89

int