# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:numbers are data type used to store numbers : integer and floating points

Strings:ordered sequence of character ,immutable

Lists:mutable ordered sequence of objects

Tuples:immutable ordered sequence of objects

Dictionaries:unorganised key and value pairs

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [8]:
(100.25 - .25 + 100 )*10 / 1000-2

0.0

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
        44
    What is the value of the expression 4 * 6 + 5 
        29
    What is the value of the expression 4 + 6 * 5
        34

In [9]:
float

float

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [40]:
# Square root:
25**(1/2)

5.0

In [10]:
# Square:
4**2

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [41]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [2]:
s ='hello'
# Reverse the string using slicing
s[-1::-1]
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [50]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [51]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [55]:
# Method 1:
my_list = [0,0,0]
my_list

[0, 0, 0]

In [58]:
# Method 2:
my_list = [0]
my_list *= 3
my_list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [61]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'Goodbye'
list3

[1, 2, [3, 4, 'Goodbye']]

Sort the list below:

In [63]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [66]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [67]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [69]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [70]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
dict cant be sorted bcz they are key value based list

## Tuples

What is the major difference between tuples and lists?<br><br>
tuples are immutable while list are mutable

How do you create a tuple?<br><br>
t = (12,"str",9.9)

## Sets

What is unique about a set?<br><br>
one value cant be repeated in set

Use a set to find the unique values of the list below:

In [6]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
myset = list5
set(myset)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [84]:
# Answer before running cell false
2 > 3

False

In [85]:
# Answer before running cell false
3 <= 2

False

In [86]:
#false# Answer before running cell
3 == 2.0

False

In [88]:
#true# Answer before running cell
3.0 == 3

True

In [89]:
#false# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [90]:
#false # two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!