##  Immutability

In [11]:
name ="Sam"

In [12]:
#name[0]='a'

In [13]:
name[1]

'a'

In [14]:
name[1:]

'am'

In [15]:
last_letters =name[1:]

In [16]:
'p' + last_letters

'pam'

In [18]:
name=name+last_letters
name

'Samamam'

In [19]:
x= 'hello world'

In [28]:
x = x + "it is beautiful outside"

In [29]:
x

'hello worldit is beautiful outsideit is beautiful outsideit is beautiful outsideit is beautiful outsideit is beautiful outside'

In [31]:
 letter ='z'
letter*10

'zzzzzzzzzz'

In [32]:
2=3

SyntaxError: can't assign to literal (<ipython-input-32-734f349ebae3>, line 1)

In [33]:
3+3

6

In [34]:
'2'+'2'

'22'

In [39]:
4/3

1.3333333333333333

In [40]:
letter * 3

'zzz'

In [47]:
letter + '4'

'z4'

In [49]:
x = 'Hello World'

In [50]:
x.upper

In [51]:
x

'Hello World'

In [52]:
x.upper()

'HELLO WORLD'

In [53]:
x

'Hello World'

In [54]:
x = x.upper()

In [57]:
x.lower()

'hello world'

In [58]:
x.split()

['HELLO', 'WORLD']

In [59]:
x.split

In [66]:
x = 'hi this is a string'

In [67]:
x.split()

['hi', 'this', 'is', 'a', 'string']

In [68]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

In [69]:
x.split("i")

['h', ' th', 's ', 's a str', 'ng']

In [70]:
x.format()

'hi this is a string'